<p><%= image_tag '/images/beer.jpg' %></p>
<br>
<%= link_to "行きたい", signup_path,
                            class: "btn btn-large btn-warning" %>
<%= link_to "またあとで", signup_path,
                            class: "btn btn-large btn-warning" %>
