<% provide(:title, 'All posts') %>
<h1>All posts</h1>

  <%= search_form_for @search do |f| %>
  <div class="control-group">
   <div class="controls">
      <%= f.text_field :content_cont , placeholder: "search", class: "input-large" %>
      <%= f.submit "search", class: "btn btn-large btn-primary" %>
    </div>
  </div>
  <% end %>


<ul class="microposts">
<%= render 'shared/feed' %>
</ul>

