<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">seemore</a>
    by HelloNet
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://twitter.com/Fest_JP">Twitter</a></li>
    </ul>
  </nav>

</footer>
